.Results section {
  background-color: #ded4e8;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgb(184, 184, 184);
  padding: 20px;
  margin: 20px;
}

.Results h2 {
  font-size: 35px;
  font-weight: bolder;
}

.Results h3 {
  font-size: 23px;
  color: grey;
}
